@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
/* S E C T I O N _ 1 */

.section_1 {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.section_1 h1, h3, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: #000000;
	text-decoration: none;
	text-align: center;
}
.click-link{
	text-decoration: none;
	color: black;

}
.click-link:hover{
	color: #551AA9;
	transition: 0.5s;
}
