@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252A;
}

li, a, button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

header img {
	height: 70px;
  	width: 70px;
  	cursor: pointer;
  	border-radius: 50px;
}

/* N A V I G A T I O N */

.nav_link {
	list-style: none;
}

.nav_link li {
	display: inline-block;
	padding: 0px 20px 0px 50px;
}

.nav_link li a {
	transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
	color: #0088a9;
}


button {
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(0, 94, 117, 1);
}

/* S E C T I O N _ 1 */

.section_1 {
	padding: 120px;
	border-bottom: dotted;
}

.section_1 h1, h3, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none;
	text-align: center;
}

/* S E C T I O N _ 2*/

.section_2 {
	list-style: none;
	padding: 50px 0px 50px 10px;
	border-bottom: dotted;
}

.section_2 h1, h3, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none;
	text-align: center;
}

.brands {
	padding: 50px 0px 0px 260px;

}
.ngobryls {
	height: 80px;
  	width: 80px;
}

.morfem {
	height: 70px;
	width: 200px;
}

.jimijazz {
	height: 100px;
}
.brands li {
	display: inline-block;
	text-align: center;
	padding: 0px 100px 0px 10px;
}


/* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ 
/* */ /* */ /* */ /* */ /* M E D I A | M O B I L E */ /* */ /* */ /* */ 
/* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */


@media(max-width: 700px){
	li, a, button {
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
		font-size: 10px;
		color: #edf0f1;
		text-decoration: none;
	}

	.nav_link li {
		display: inline-block;
		padding: 0px 2px 0px 25px;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px;
	}

	header img {
		height: 40px;
  		width: 40px;
  		cursor: pointer;
  		border-radius: 10px;
  	}

  	button {
		padding: 9px 15px;
		background-color: rgba(0, 136, 169, 1);
		border: none;
		border-radius: 50px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}

	/* S E C T I O N _ 1*/

	.section_1 {
		padding: 20px 0px 50px 0px;
	}

	.section_1 h1, h3, h5, h6 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
		color: #edf0f1;
		text-decoration: none;
		text-align: center;
	}

	.section_1 h1 {
		font-size: 17px;
	}

	.section_1 h3 {
		font-size: 15px;
	}

	.section_1 h5 {
		font-size: 10px	;
	}

	.section_1 h6 {
		font-size: 9px;
	}

	/* S E C T I O N _ 2*/

	.section_2 {
	list-style: none;
	padding: 10px;
	border-bottom: dotted;
	}

	.section_2 h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 10px;
	padding: 50px 0px 0px 0px;
	color: #edf0f1;
	text-decoration: none;
	text-align: center;
	}

	.brands {
	padding: 50px 0px 50px 60px;

	}
	.ngobryls {
	height: 40px;
  	width: 40px;
	}

	.morfem {
	height: 35px;
	width: 100px;
	}

	.jimijazz {
	height: 50px;
	}
	.brands li {
	display: inline-block;
	text-align: center;
	padding: 0px 100px 0px 10px;
	}
}