@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252A;
}

li, a, button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

img {
	height: 70px;
  	width: 70px;
  	cursor: pointer;
  	border-radius: 50px;
}

.nav_link {
	list-style: none;
}

.nav_link li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_link li a {
	transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
	color: #0088a9;
}


button {
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(0, 94, 117, 1);
}

.section_1 {
	padding: 120px;
}

.section_1 h1, h3, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none;
	text-align: center;
}